/* line 5, ../../../../../../Downloads/compass.app/Contents/Resources/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

/* line 22, ../../../../../../Downloads/compass.app/Contents/Resources/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1; }

/* line 24, ../../../../../../Downloads/compass.app/Contents/Resources/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none; }

/* line 26, ../../../../../../Downloads/compass.app/Contents/Resources/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 28, ../../../../../../Downloads/compass.app/Contents/Resources/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

/* line 30, ../../../../../../Downloads/compass.app/Contents/Resources/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none; }
  /* line 103, ../../../../../../Downloads/compass.app/Contents/Resources/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

/* line 32, ../../../../../../Downloads/compass.app/Contents/Resources/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none; }

/* line 116, ../../../../../../Downloads/compass.app/Contents/Resources/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

/* line 3, ../scss/common/_var.scss */
.wrap {
  margin: 0 auto;
  width: 95%;
  height: 100%; }

/* line 1, ../scss/component/_col.scss */
.grid, .grid1, .grid2 {
  margin: 0 auto;
  height: 70%;
  width: 24%;
  position: relative;
  float: left;
  border: black solid 1px; }

/* line 10, ../scss/component/_col.scss */
.grid1, .grid2 {
  margin-left: 1%; }

/* line 2, ../scss/template/_grid1.scss */
.button, select, .select-2 {
  width: 100%;
  height: 2%;
  color: #ffffff;
  border: 2px solid;
  border-radius: 10px;
  text-align: center;
  margin-top: 45%; }

/* line 7, ../scss/template/_grid1.scss */
.text-but, .text-but2 {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  color: #ffffff;
  font-size: 48px;
  font-size: 22px;
  margin-top: 3%; }

/* line 13, ../scss/template/_grid1.scss */
.little_button {
  margin-top: 5%;
  width: 100%;
  height: 2%;
  color: #ffffff;
  border: 2px solid;
  border-radius: 10px;
  text-align: center;
  width: 45%;
  height: 2%;
  position: relative;
  float: left; }

/* line 18, ../scss/template/_grid1.scss */
.little_button_right {
  margin-top: 5%;
  width: 100%;
  height: 2%;
  color: #ffffff;
  border: 2px solid;
  border-radius: 10px;
  text-align: center;
  width: 45%;
  height: 2%;
  position: relative;
  float: right; }

/* line 24, ../scss/template/_grid1.scss */
.text-but2 {
  font-size: 19px;
  margin-top: 8%; }

/* line 30, ../scss/template/_grid1.scss */
select, .select-2 {
  margin-top: 6%;
  width: 45%;
  height: 55px;
  background-color: rgba(0, 0, 0, 0.1);
  text-align: center;
  font-size: 18px;
  font-family: 'Open sans',sans-serif; }

/* line 41, ../scss/template/_grid1.scss */
.p_select {
  margin-left: 1%; }

/* line 45, ../scss/template/_grid1.scss */
.active_button {
  float: right;
  position: relative;
  width: 51%;
  height: 3%;
  margin-top: -14%; }

/* line 53, ../scss/template/_grid1.scss */
.activ-but {
  width: 40%;
  height: 50%;
  border: solid white 1px;
  border-radius: 15px;
  background-color: #00aced; }

/* line 57, ../scss/template/_grid1.scss */
.activ-but-right {
  width: 40%;
  height: 50%;
  border: solid white 1px;
  border-radius: 15px;
  background-color: #00aced;
  float: right;
  position: relative;
  top: -54%; }

/* line 64, ../scss/template/_grid1.scss */
.ball {
  border-radius: 50%;
  width: 50%;
  height: 100%;
  background-color: white; }

/* line 68, ../scss/template/_grid1.scss */
.select-2 {
  background-color: #ffffff;
  color: #00aced; }

/* line 74, ../scss/template/_grid1.scss */
.number {
  position: relative;
  float: right;
  width: 60%;
  height: 3%;
  margin-top: -19%;
  /* display: inline; */
  margin-right: -4%;
  margin-top: -15%; }

/* line 85, ../scss/template/_grid1.scss */
.bubble, .bubble24, .bubble120, .b_draw, .b_draw2, .b_draw3, .b_draw4, .bub {
  width: 20%;
  height: 55%;
  border: solid white 1px;
  display: inline-block;
  border-radius: 51%;
  margin-left: 7%;
  color: white;
  font-weight: bold;
  font-family: 'Open sans',sans-serif;
  text-align: center; }

/* line 98, ../scss/template/_grid1.scss */
.number_bubble {
  margin-top: 20%; }

/* line 106, ../scss/template/_grid1.scss */
.bubble120 {
  width: 23%;
  border-radius: 17px; }

/* line 113, ../scss/template/_grid1.scss */
.city-1 {
  width: 75%;
  height: 10%;
  position: relative;
  float: left;
  background-color: #26b8f0;
  color: white;
  font-family: 'Open sans',sans-serif;
  font-size: 18px;
  letter-spacing: 0,5px;
  border-radius: 15px;
  border: 1px solid white; }

/* line 118, ../scss/template/_grid1.scss */
ul li {
  border-bottom: solid 1px white;
  padding: 7%; }

/* line 124, ../scss/template/_grid1.scss */
.barca {
  border-bottom: 0px; }

/* line 128, ../scss/template/_grid1.scss */
.checkbox {
  width: 18%;
  height: 10%;
  display: block;
  position: relative;
  float: right;
  margin-top: -6%; }

/* line 137, ../scss/template/_grid1.scss */
.squaredTwo {
  width: 70%;
  height: 18%;
  position: relative;
  margin: 20px auto;
  border: 1px solid white;
  border-radius: 5px; }

/* line 146, ../scss/template/_grid1.scss */
.squaredTwo label {
  width: 100%;
  height: 100%;
  cursor: pointer;
  position: absolute;
  left: 0px;
  top: 0px; }

/* line 154, ../scss/template/_grid1.scss */
.squaredTwo label:after {
  content: '';
  width: 56%;
  height: 38%;
  position: absolute;
  top: 6px;
  left: 8px;
  border: 3px solid #fcfff4;
  border-top: none;
  border-right: none;
  background: transparent;
  opacity: 0;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg); }

/* line 170, ../scss/template/_grid1.scss */
.bullet label:after {
  content: '' !important;
  width: 40%;
  height: 40%;
  position: absolute;
  top: 28%;
  left: 26%;
  border: 1px solid white;
  /* border-top: none; */
  border-radius: 50%;
  /* border-right: none; */
  background: white;
  opacity: 0;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg); }

/* line 186, ../scss/template/_grid1.scss */
.squaredTwo label:hover::after {
  opacity: 0.3; }

/* line 189, ../scss/template/_grid1.scss */
.squaredTwo input[type=checkbox] {
  visibility: hidden; }

/* line 192, ../scss/template/_grid1.scss */
.squaredTwo input[type=checkbox]:checked + label:after {
  opacity: 1; }

/* line 196, ../scss/template/_grid1.scss */
.ball-check {
  border-radius: 50% !important; }

/* line 200, ../scss/template/_grid1.scss */
.float-left {
  position: relative;
  float: left;
  width: 50%;
  height: 5%;
  margin-left: -3%;
  margin-top: 10%; }

/* line 209, ../scss/template/_grid1.scss */
.float-right {
  position: relative;
  float: right;
  width: 50%;
  height: 5%;
  margin-top: 10%; }

/* line 217, ../scss/template/_grid1.scss */
.line-1 {
  display: inline-block;
  width: 100%;
  height: 50%; }

/* line 223, ../scss/template/_grid1.scss */
.line-2 {
  display: inline-block;
  width: 100%;
  height: 50%; }

/* line 229, ../scss/template/_grid1.scss */
.overide {
  width: 15%;
  height: 42%;
  margin-left: 6%;
  font-size: 15px;
  padding-top: 5%; }

/* line 237, ../scss/template/_grid1.scss */
.star {
  width: 18%;
  height: 49%; }

/* line 242, ../scss/template/_grid1.scss */
.heart {
  width: 16%;
  height: 43%;
  padding-left: 5%;
  margin-left: -3%; }

/* line 249, ../scss/template/_grid1.scss */
.home {
  height: 57%; }

/* line 253, ../scss/template/_grid1.scss */
.check {
  height: 50%; }

/* line 257, ../scss/template/_grid1.scss */
.bubble-talk, .bubble-talk-right {
  width: 100%;
  height: 2%;
  color: #ffffff;
  border: 2px solid;
  border-radius: 10px;
  text-align: center;
  width: 45%;
  height: 2%;
  position: relative;
  float: left;
  margin-top: 2%;
  background-color: #5ccaf4; }

/* line 263, ../scss/template/_grid1.scss */
.cache, .cache-right {
  background-color: #5ccaf4;
  width: 18%;
  height: 6%;
  position: absolute;
  top: 97%;
  left: 41%; }

/* line 272, ../scss/template/_grid1.scss */
.pic_, .pic_right {
  width: 5% !important;
  height: 22% !important;
  /* border: 2px solid white !important; */
  -ms-transform: rotate(7deg) !important;
  -webkit-transform: rotate(7deg) !important;
  transform: rotate(50deg) !important;
  position: absolute;
  top: 78%;
  left: 44%;
  border-bottom: 3px solid white;
  border-right: 3px solid white;
  padding: 3%;
  background-color: #5ccaf4; }

/* line 288, ../scss/template/_grid1.scss */
.bubble-talk-right {
  float: right; }

/* line 293, ../scss/template/_grid1.scss */
.cache-right {
  top: -3%; }

/* line 298, ../scss/template/_grid1.scss */
.pic_right {
  width: 6% !important;
  height: 22% !important;
  top: -26%;
  left: 43%;
  transform: rotate(227deg) !important; }

/* line 307, ../scss/template/_grid1.scss */
.hello {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  color: #ffffff;
  font-size: 48px;
  font-size: 15px;
  letter-spacing: 1px;
  margin-top: 9%; }

/* line 314, ../scss/template/_grid1.scss */
.white-button {
  width: 100%;
  height: 2%;
  color: #ffffff;
  border: 2px solid;
  border-radius: 10px;
  text-align: center;
  width: 45%;
  height: 2%;
  position: relative;
  float: left;
  color: #00aced;
  background-color: white;
  width: 100%;
  height: 3%;
  border-radius: 0px;
  margin-top: 12%;
  text-align: left;
  font-family: 'Open Sans',sans-serif;
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 1px; }

/* line 318, ../scss/template/_grid1.scss */
.oops {
  margin-top: 8%;
  padding-left: 5%; }

/* line 323, ../scss/template/_grid1.scss */
.x {
  position: relative;
  float: right;
  color: #00aced;
  margin-top: -7%;
  padding-right: 6%;
  font-size: 30px;
  font-weight: 400;
  color: #00aced; }

/* line 334, ../scss/template/_grid1.scss */
.contact {
  width: 75%;
  height: 10%;
  position: relative;
  float: left;
  background-color: #26b8f0;
  color: white;
  font-family: 'Open sans',sans-serif;
  font-size: 18px;
  letter-spacing: 0,5px;
  border-radius: 15px;
  border: 1px solid white;
  width: 100%;
  height: 7%;
  background-color: #00aced;
  margin-top: 10%;
  overflow: hidden;
  border: 2px solid white; }

/* line 344, ../scss/template/_grid1.scss */
.mail, .pass {
  background-color: #00aced;
  border-bottom: 2px solid white;
  -webkit-appearance: none;
  user-select: none;
  border-width: 1px;
  border-style: ridge;
  border-color: white;
  border-image: none;
  width: 99%;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  height: 49%; }

/* line 360, ../scss/template/_grid1.scss */
.pass {
  border-bottom: 0px; }

/* line 365, ../scss/template/_grid1.scss */
::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  font-family: 'Open Sans',sans-serif;
  font-size: 18px;
  color: #80d6f6;
  padding: 18px; }

/* line 372, ../scss/template/_grid1.scss */
.draw {
  width: 100%;
  height: 10%;
  position: relative;
  float: left;
  margin-top: 26%; }

/* line 380, ../scss/template/_grid1.scss */
.b_draw, .b_draw2, .b_draw3, .b_draw4 {
  margin-left: 0%;
  width: 27%;
  height: 46%;
  overflow: hidden;
  position: relative;
  margin-top: -11%; }

/* line 392, ../scss/template/_grid1.scss */
.b_draw2 {
  width: 22%;
  height: 36%;
  margin-left: 3%;
  margin-right: 3%; }

/* line 400, ../scss/template/_grid1.scss */
.b_draw3 {
  width: 19%;
  height: 29%; }

/* line 406, ../scss/template/_grid1.scss */
.b_draw4 {
  height: 21%;
  width: 15%;
  margin-left: 4%; }

/* line 413, ../scss/template/_grid1.scss */
.arc {
  height: 100%;
  width: 100%;
  border-top: 1px solid white;
  margin-top: 61%;
  border-radius: 46%; }

/* line 421, ../scss/template/_grid1.scss */
.bub {
  margin-left: 0%;
  top: 13%;
  position: absolute;
  margin-left: -19%;
  border-radius: 50%;
  width: 37%;
  height: 33%; }

/* line 432, ../scss/template/_grid1.scss */
.upload {
  width: 100%;
  height: 15%;
  border: 1px dashed white;
  position: relative;
  float: left;
  margin-top: -30%; }

/* line 441, ../scss/template/_grid1.scss */
.bar {
  width: 31%;
  height: 2%;
  border-top: 5px solid white;
  margin-top: 50%;
  margin-left: 35%; }

/* line 449, ../scss/template/_grid1.scss */
.arrow {
  width: 2%;
  height: 17%;
  border-left: 6px solid white;
  margin-left: 50%;
  margin-top: 26%;
  position: absolute; }

/* line 458, ../scss/template/_grid1.scss */
.arrow2, .arrow3 {
  width: 2%;
  height: 9%;
  border-left: 5px solid white;
  -ms-transform: rotate(40deg);
  -webkit-transform: rotate(40deg);
  transform: rotate(40deg);
  margin-left: 52%;
  margin-top: 37%;
  position: absolute; }

/* line 470, ../scss/template/_grid1.scss */
.arrow3 {
  -ms-transform: rotate(-40deg);
  -webkit-transform: rotate(-40deg);
  transform: rotate(-40deg);
  margin-left: 47%;
  margin-top: 36%; }

/* line 479, ../scss/template/_grid1.scss */
.drop_font {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  color: #ffffff;
  font-size: 48px;
  font-size: 27px;
  text-align: center; }

/* line 1, ../scss/template/_grid2.scss */
.bars-white {
  width: 100%;
  height: 10%;
  position: relative;
  margin-top: 45%; }

/* line 8, ../scss/template/_grid2.scss */
.bars-empty {
  width: 100%;
  height: 1%;
  border-top: 3px solid #40c1f2;
  margin-top: 6%; }

/* line 15, ../scss/template/_grid2.scss */
.bars-full, .bars-full2, .bars-full3, .bars-full4 {
  width: 20%;
  height: 100%;
  border-top: 3px solid white;
  position: absolute;
  margin-top: -1%; }

/* line 23, ../scss/template/_grid2.scss */
.bars-full2 {
  width: 45%; }

/* line 28, ../scss/template/_grid2.scss */
.bars-full3 {
  width: 75%; }

/* line 33, ../scss/template/_grid2.scss */
.bars-full4 {
  width: 96%; }

/* line 39, ../scss/template/_grid2.scss */
.different {
  width: 25%; }

/* line 43, ../scss/template/_grid2.scss */
.hole, .hole2, .hole3 {
  width: 2%;
  height: 1%;
  border-top: 3px solid #00aced;
  position: absolute;
  margin-left: 25%;
  margin-top: -1%; }

/* line 52, ../scss/template/_grid2.scss */
.hole2 {
  margin-left: 50%; }

/* line 57, ../scss/template/_grid2.scss */
.hole3 {
  margin-left: 75%; }

/* line 62, ../scss/template/_grid2.scss */
.select_calendar {
  width: 100%;
  height: 5%;
  margin-top: -11%; }

/* line 68, ../scss/template/_grid2.scss */
.date {
  margin-right: 8%;
  font-family: 'Open sans',sans-serif;
  padding: 5%; }

/* line 74, ../scss/template/_grid2.scss */
.date-white {
  background-color: white;
  color: #00aced; }

/* line 79, ../scss/template/_grid2.scss */
.calendar {
  width: 100%;
  height: 16%;
  margin-top: 0%; }

/* line 85, ../scss/template/_grid2.scss */
.date-content {
  width: 100%;
  height: auto; }

/* line 90, ../scss/template/_grid2.scss */
.home-2 {
  width: 100%;
  height: 2%;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  color: white; }

/* line 98, ../scss/template/_grid2.scss */
.under, .under2 {
  text-decoration: underline !important;
  margin-right: 6%; }

/* line 104, ../scss/template/_grid2.scss */
.under2 {
  margin-left: 5%; }

/* line 109, ../scss/template/_grid2.scss */
.pad {
  padding: 5%; }

/* line 113, ../scss/template/_grid2.scss */
.icon-left {
  position: relative;
  float: left;
  width: 45%;
  height: 4%; }

/* line 120, ../scss/template/_grid2.scss */
.little_l {
  position: relative;
  float: left;
  width: 50%;
  height: 100%; }

/* line 127, ../scss/template/_grid2.scss */
.little-r {
  position: relative;
  float: right;
  width: 50%;
  height: 100%; }

/* line 134, ../scss/template/_grid2.scss */
.icon {
  width: 20%;
  height: 30%; }

/* line 139, ../scss/template/_grid2.scss */
.icon_info {
  width: 10%;
  height: 30%;
  padding-left: 5%; }

/* line 145, ../scss/template/_grid2.scss */
.p_icon {
  position: relative;
  float: right;
  margin-right: 40%;
  color: white;
  font-family: 'Open Sans',sans-serif;
  font-size: 14px; }

/* line 154, ../scss/template/_grid2.scss */
.p-right {
  margin-right: 31%; }

/* line 158, ../scss/template/_grid2.scss */
.hours-right {
  position: relative;
  float: right;
  width: 55%;
  height: 4%;
  display: inline-flex;
  font-family: "Open Sans", sans-serif;
  font-size: 30px;
  text-align: center;
  color: white; }

/* line 170, ../scss/template/_grid2.scss */
.hours-container {
  width: 26%;
  height: 62%;
  border: solid 1px white;
  border-radius: 13%;
  margin-left: 6%; }

/* line 178, ../scss/template/_grid2.scss */
.hours_move {
  margin-top: 25%; }

/* line 182, ../scss/template/_grid2.scss */
.between_hours {
  font-size: 13px;
  top: 24%;
  position: relative;
  left: 3%; }

/* line 189, ../scss/template/_grid2.scss */
#slide {
  width: 100%;
  height: 13%;
  position: relative;
  float: left;
  margin-top: 21%; }

/* line 197, ../scss/template/_grid2.scss */
.slider, .two, .third, .for, .five {
  width: 100%;
  height: 100%;
  border: 1px solid white;
  position: absolute;
  z-index: 500;
  overflow: hidden;
  background-color: #00aced; }

/* line 207, ../scss/template/_grid2.scss */
.two, .third, .for, .five {
  margin: 0 auto !important;
  width: 97% !important;
  top: -2% !important;
  left: 1%;
  z-index: 300;
  opacity: 0.9; }

/* line 217, ../scss/template/_grid2.scss */
.third, .for, .five {
  width: 93% !important;
  top: -4% !important;
  left: 3%;
  z-index: 200;
  opacity: 0.7; }

/* line 226, ../scss/template/_grid2.scss */
.for, .five {
  width: 88% !important;
  top: -6% !important;
  left: 5%;
  z-index: 100;
  opacity: 0.6; }

/* line 235, ../scss/template/_grid2.scss */
.five {
  z-index: 50;
  width: 80% !important;
  top: -8% !important;
  left: 9%;
  opacity: 0.3; }

/* line 244, ../scss/template/_grid2.scss */
#nav_slide {
  width: 20%;
  height: 2%;
  position: relative;
  float: left;
  margin: 0 auto;
  padding-left: 40%;
  display: inline-flex;
  padding-top: 3%; }

/* line 255, ../scss/template/_grid2.scss */
.nav {
  width: 6%;
  height: 10%;
  border: 1px solid white;
  border-radius: 50%;
  margin: 5%; }

/* line 264, ../scss/template/_grid2.scss */
#bars-music {
  width: 99%;
  height: 9%;
  position: relative;
  float: left;
  margin-top: -13%;
  -ms-transform: rotate(7deg);
  -webkit-transform: rotate(7deg);
  transform: rotate(180deg); }

/* line 275, ../scss/template/_grid2.scss */
.equalizer {
  width: 1%;
  height: 100%;
  border-left: 5px solid #1ab4ef;
  display: block;
  position: relative;
  float: left; }

/* line 285, ../scss/template/_grid2.scss */
.white {
  border-left: 5px solid white; }

/* line 289, ../scss/template/_grid2.scss */
.h_10 {
  height: 10%; }

/* line 293, ../scss/template/_grid2.scss */
.h_15 {
  height: 15%; }

/* line 297, ../scss/template/_grid2.scss */
.h_20 {
  height: 20%; }

/* line 301, ../scss/template/_grid2.scss */
.h_22 {
  height: 20%; }

/* line 305, ../scss/template/_grid2.scss */
.h_30 {
  height: 30%; }

/* line 309, ../scss/template/_grid2.scss */
.h_25 {
  height: 25%; }

/* line 313, ../scss/template/_grid2.scss */
.h_35 {
  height: 35%; }

/* line 317, ../scss/template/_grid2.scss */
.h_45 {
  height: 45%; }

/* line 321, ../scss/template/_grid2.scss */
.h_55 {
  height: 55%; }

/* line 325, ../scss/template/_grid2.scss */
.h_65 {
  height: 65%; }

/* line 329, ../scss/template/_grid2.scss */
.h_75 {
  height: 75%; }

/* line 333, ../scss/template/_grid2.scss */
.stat {
  width: 104%;
  height: 8%;
  position: relative;
  float: left;
  margin-top: 7%;
  display: inline-flex; }

/* line 342, ../scss/template/_grid2.scss */
.stat-blue {
  width: 3%;
  height: 80%;
  border-left: 15px solid #1ab4ef;
  padding: 2%; }

/* line 349, ../scss/template/_grid2.scss */
.n1, .n2, .n3, .n4, .n5, .n6, .n7, .n8, .n9, .n10, .n11 {
  border-left: 15px solid white;
  height: 7%;
  position: absolute;
  margin-top: 39%;
  left: 0%; }

/* line 358, ../scss/template/_grid2.scss */
.n2, .n3, .n4, .n5, .n6, .n7, .n8, .n9, .n10, .n11 {
  margin-top: 29%;
  left: 9%;
  height: 27%; }

/* line 365, ../scss/template/_grid2.scss */
.n3, .n4, .n5, .n6, .n7, .n8, .n9, .n10, .n11 {
  margin-top: 23%;
  left: 18%;
  height: 38%; }

/* line 372, ../scss/template/_grid2.scss */
.n4, .n5, .n6, .n7, .n8, .n9, .n10, .n11 {
  margin-top: 4%;
  left: 27%;
  height: 76%; }

/* line 379, ../scss/template/_grid2.scss */
.n5, .n6, .n7, .n8, .n9, .n10, .n11 {
  margin-top: -2%;
  left: 36%;
  height: 87%; }

/* line 386, ../scss/template/_grid2.scss */
.n6, .n7, .n8, .n9, .n10, .n11 {
  margin-top: 1%;
  left: 46%;
  height: 82%; }

/* line 393, ../scss/template/_grid2.scss */
.n7, .n8, .n9, .n10, .n11 {
  margin-top: 4%;
  left: 55%;
  height: 76%; }

/* line 400, ../scss/template/_grid2.scss */
.n8, .n9, .n10, .n11 {
  margin-top: 2%;
  left: 64%;
  height: 80%; }

/* line 407, ../scss/template/_grid2.scss */
.n9, .n10, .n11 {
  margin-top: 10%;
  left: 73%;
  height: 63%; }

/* line 414, ../scss/template/_grid2.scss */
.n10, .n11 {
  margin-top: 4%;
  left: 82%;
  height: 75%; }

/* line 421, ../scss/template/_grid2.scss */
.n11 {
  margin-top: 27%;
  left: 91%;
  height: 30%; }

/* line 1, ../scss/template/_grid3.scss */
.textarea-but {
  border: 1px solid white;
  background-color: transparent;
  text-align: left; }

/* line 7, ../scss/template/_grid3.scss */
.move_search {
  margin-top: 6%; }

/* line 11, ../scss/template/_grid3.scss */
.shape {
  position: absolute;
  margin-top: -11%;
  width: 8%;
  left: 87%; }

/* line 18, ../scss/template/_grid3.scss */
.windows-text {
  margin-top: 10%;
  height: 9%;
  font-family: "Open Sans", sans-serif;
  font-size: 17px;
  color: white;
  letter-spacing: 1px;
  white-space: pre-line;
  line-height: 143%;
  text-align: left;
  padding-left: 8%;
  width: 90%; }

/* line 32, ../scss/template/_grid3.scss */
.custom-ul {
  border-radius: 0px;
  width: 100%;
  border: 0px;
  background-color: transparent;
  margin-top: 2%; }

/* line 42, ../scss/template/_grid3.scss */
.grid1 .icon-ul, .grid2 .icon-ul {
  display: block; }
/* line 48, ../scss/template/_grid3.scss */
.grid1 .icon-li, .grid2 .icon-li {
  border-bottom: 0px;
  display: block;
  position: relative;
  left: 75%;
  top: 0%; }
/* line 56, ../scss/template/_grid3.scss */
.grid1 .ico-check, .grid2 .ico-check {
  width: 11%;
  height: 20%;
  margin-top: -1%;
  position: relative; }
/* line 63, ../scss/template/_grid3.scss */
.grid1 .ico-arrow, .grid2 .ico-arrow {
  width: 7%;
  height: 20%;
  position: relative;
  margin-top: -4%;
  margin-left: 2%; }
/* line 72, ../scss/template/_grid3.scss */
.grid1 .ico-x, .grid2 .ico-x {
  width: 9%;
  height: 20%;
  position: relative;
  margin-top: -5%;
  margin-left: 1%; }
/* line 80, ../scss/template/_grid3.scss */
.grid1 .ico-i, .grid2 .ico-i {
  width: 11%;
  height: 20%;
  position: relative;
  margin-top: -5%; }
/* line 87, ../scss/template/_grid3.scss */
.grid1 .ico-, .grid2 .ico- {
  width: 11%;
  height: 20%;
  position: relative;
  margin-top: -5%; }

/* line 96, ../scss/template/_grid3.scss */
.no-border {
  border-bottom: 0px; }

/* line 100, ../scss/template/_grid3.scss */
.delete {
  position: absolute;
  width: 28%;
  height: 30%;
  background-color: white;
  color: #00aced;
  font-family: "Open Sans", sans-serif;
  text-align: center;
  top: 59%;
  left: 72%; }

/* line 112, ../scss/template/_grid3.scss */
.delete p {
  margin-top: 25%; }

/* line 116, ../scss/template/_grid3.scss */
.ico-list {
  width: 100%;
  height: 3%;
  display: flex;
  margin-top: 7%; }

/* line 124, ../scss/template/_grid3.scss */
.ico {
  width: 15%;
  height: 75%; }

/* line 129, ../scss/template/_grid3.scss */
.pad-ico {
  padding-left: 6%; }

/* line 133, ../scss/template/_grid3.scss */
.weather {
  width: 100%;
  position: relative;
  float: left;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  color: #ffffff;
  font-size: 48px;
  font-size: 15px;
  font-size: 16px;
  letter-spacing: 1Px;
  font-weight: 500;
  margin-top: 8%;
  height: 11%; }

/* line 146, ../scss/template/_grid3.scss */
.light {
  font-weight: 100;
  margin-top: 2%; }

/* line 151, ../scss/template/_grid3.scss */
.ico-weather {
  width: 100%;
  height: 80%; }

/* line 156, ../scss/template/_grid3.scss */
.icon-w {
  width: 15%;
  height: 20%;
  border-left: 1px solid white;
  margin-top: 5%;
  padding: 4%;
  padding-bottom: 15%; }

/* line 165, ../scss/template/_grid3.scss */
.temp, .temp2, .temp3, .temp4 {
  position: absolute;
  margin-top: -9%;
  margin-left: 6%; }

/* line 171, ../scss/template/_grid3.scss */
.temp2 {
  margin-left: 34%; }

/* line 176, ../scss/template/_grid3.scss */
.temp3 {
  margin-left: 59%; }

/* line 181, ../scss/template/_grid3.scss */
.temp4 {
  margin-left: 84%; }

/* line 186, ../scss/template/_grid3.scss */
.windows-tag {
  position: relative;
  float: left;
  margin-top: -16%;
  height: 6%;
  padding-left: 4%;
  width: 95%;
  line-height: 0; }

/* line 196, ../scss/template/_grid3.scss */
.windows-float {
  position: relative;
  float: left;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  color: #ffffff;
  font-size: 48px;
  font-size: 13px;
  font-weight: 500;
  width: 30%;
  height: 20%;
  border: 1px solid white;
  border-radius: 17%;
  white-space: inherit;
  margin-left: 6%;
  margin-top: 4%; }

/* line 211, ../scss/template/_grid3.scss */
.windows-float p {
  text-align: left;
  margin-top: 14%;
  padding-left: 11%; }

/* line 217, ../scss/template/_grid3.scss */
.quit {
  position: absolute;
  margin-left: 75%;
  top: 2%; }

/* line 223, ../scss/template/_grid3.scss */
.short {
  width: 19%; }

/* line 227, ../scss/template/_grid3.scss */
.short_quit {
  margin-left: 67%;
  top: 19%; }

/* line 232, ../scss/template/_grid3.scss */
.short_text {
  margin-top: 2%;
  margin-top: 23% !important; }

/* line 238, ../scss/template/_grid3.scss */
.percent {
  width: 100%;
  margin-top: 21%;
  height: auto;
  display: inline-block; }
  /* line 244, ../scss/template/_grid3.scss */
  .percent img {
    width: 32%; }

/* line 1, ../scss/template/_grid4.scss */
.range {
  width: 100%;
  height: 10%; }

/* line 7, ../scss/template/_grid4.scss */
input[type=range] {
  -webkit-appearance: none;
  /* Hides the slider so that custom slider can be made */
  width: 100%;
  /* Specific width is required for Firefox. */
  background: #5ccaf4;
  /* Otherwise white in Chrome */
  margin-top: 45%;
  height: 2%; }

/* line 15, ../scss/template/_grid4.scss */
input[type=range]:focus {
  outline: none; }

/*input[type=range]:focus::-webkit-slider-runnable-track {
    background-color: white;
    height: 2%;
      margin-top: 0%;

} */
/* line 27, ../scss/template/_grid4.scss */
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 1px solid #ffffff;
  height: 35px;
  width: 36px;
  border-radius: 50%;
  background: #ffffff;
  cursor: pointer;
  margin-top: -5%; }

/* line 38, ../scss/template/_grid4.scss */
input[type='range']::-webkit-slider-runnable-track {
  height: 2%;
  width: auto;
  -webkit-appearance: none;
  color: white;
  margin-top: 0%; }

/* All the same stuff for Firefox */
/* line 48, ../scss/template/_grid4.scss */
input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer; }

/* All the same stuff for IE */
/* line 59, ../scss/template/_grid4.scss */
input[type=range]::-ms-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer; }

/* line 69, ../scss/template/_grid4.scss */
.range-number {
  display: flex;
  width: 100%;
  height: 2%;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  color: #ffffff;
  font-size: 48px;
  font-size: 15px;
  font-weight: 500;
  left: -12%;
  position: relative; }
  /* line 82, ../scss/template/_grid4.scss */
  .range-number li {
    border-bottom: 0px;
    padding: 11%; }

/* line 88, ../scss/template/_grid4.scss */
.range-2 {
  margin-top: 27% !important; }

/* line 92, ../scss/template/_grid4.scss */
.tab {
  position: relative;
  float: left;
  width: 100%;
  height: 4%; }

/* line 99, ../scss/template/_grid4.scss */
.tab-but {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  color: #ffffff;
  font-size: 48px;
  font-size: 15px;
  font-weight: 500;
  text-align: center;
  display: flex;
  margin-top: 24%;
  height: 80%; }
  /* line 108, ../scss/template/_grid4.scss */
  .tab-but li {
    border-left: 1px solid white;
    border-bottom: 0px;
    padding: 0%; }

/* line 117, ../scss/template/_grid4.scss */
.no-border_2 {
  border-left: 0px !important; }

/* line 2, ../scss/template/_layout.scss */
body {
  height: 100%;
  width: 100%; }

/* line 8, ../scss/template/_layout.scss */
#background {
  background-color: #00aced;
  height: 3120px;
  width: 100%; }

/*@mixin grid {
    @extend grid1;
    padding-left: 5%;
} */
/*._grid1 {
    @include grid;
}*/
