.head {
    position: relative;
    float: left;
    width: 100%;
    height: auto;
    top: 7%;
}

.phone {
    width: 7%;
    height: 16%;
}

.blue {
    font-weight: 100;
}

h1 {
    @include font-title;
    white-space: pre;
    position: relative;
    float: right;
    right: 22%;
    font-size:25px;
}

.version {
    font-family: 'open sans',sans-serif;
    color: white;
    position: absolute;
    /* float: right; */
    top: 53%;
    left: 10%;
}


.button {
    @include first-button;
    margin-top: 80%;
}

.text-but {
    @include font-title;
    font-size:22px;
    margin-top: 3%;
}

.little_button {
    margin-top: 5%;
    @include button;
}

.little_button_right {
    margin-top: 5%;
    @include button-right;
}

.hov:hover{
    background-color: white;
    color:map-get($colors,bg);
}


.text-but2 {
    @extend .text-but;
    font-size: 19px;
    margin-top: 8%;
}

select {
    @extend .button;
    margin-top: 6%;
    width: 45%;
    height: 55px;
    background-color: rgba(0, 0, 0, 0.1);
    text-align: center;
    font-size: 18px;
    font-family: 'Open sans',sans-serif;
}

.p_select {
    margin-left:1%;
}

.active_button {
    float: right;
    position: relative;
    width: 51%;
    height: 3%;
    margin-top: -14%;
}

.activ-but {
    @include activ-div;
}

.activ-but-right {
    @include activ-div;
    float: right;
    position: relative;
    top: -54%;
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin-left: 12%;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider2 {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 1px solid white;
  background-color: map-get($colors,bg);
  -webkit-transition: .4s;
  transition: .4s;
}

.slider2:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider2 {
  background-color: #40c1f2;
}

input:focus + .slider2 {
  box-shadow: 0 0 1px #40c1f2;
}

input:checked + .slider2:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider2.round {
  border-radius: 34px;
}

.slider2.round:before {
  border-radius: 50%;
}


.ball {
    @include ball-white;
}

.select-2 {
    @extend select;
    background-color: #ffffff;
    color:#00aced;
}

.number {
    position: relative;
    float: right;
    width: 60%;
    height: 3%;
    margin-top: -19%;
    /* display: inline; */
    margin-right: -4%;
    margin-top: -15%;
}

.bubble {
    width: 20%;
    height: 55%;
    border: solid white 1px;
    display: inline-block;
    border-radius: 51%;
    margin-left: 7%;  
    color: white;
    font-weight: bold;
    font-family: 'Open sans',sans-serif;
    text-align: center;    
}

.number_bubble {
    margin-top: 20%;
}

.bubble24{
    @extend .bubble;
}

.bubble120 {
    @extend .bubble;
     width: 23%;
    border-radius: 17px;

}

.city-1{
@include ul-li;
}

.city-1 li:hover {
    background-color: #40c1f2;
}

ul {
    li {
        border-bottom: solid 1px white;
        padding:7%;
    }
}

.barca {
    border-bottom: 0px;
}



.checkbox {
    width: 18%;
    height: 10%;
    display: block;
    position: relative;
    float: right;
    margin-top: -6%;
}

.squaredTwo {
    width: 70%;
    height: 18%;
    position: relative;
    margin: 20px auto;
    border: 1px solid white;
    border-radius: 5px;
}

.squaredTwo label {
    width: 100%;
    height: 100%;
    cursor: pointer;
    position: absolute;
    left: 0px;
    top: 0px;
}
.squaredTwo label:after {
    content: '';
    width: 56%;
    height: 38%;
    position: absolute;
    top: 6px;
    left: 8px;
    border: 3px solid #fcfff4;
    border-top: none;
    border-right: none;
    background: transparent;
    opacity: 0;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);    
}

.bullet label:after {
    content: '';
    width: 39%;
    height: 39%;
    position: absolute;
    top: 10px;
    left: 11px;
    border: 3px solid #fcfff4;
    border-top: none;
    border-right: none;
    background: white;
    opacity: 0;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.squaredTwo label:hover::after {
  opacity: 0.3;
}
.squaredTwo input[type=checkbox] {
  visibility: hidden;
}
.squaredTwo input[type=checkbox]:checked + label:after {
  opacity: 1;
}


.squaredTwo4 {
    width: 70%;
    height: 18%;
    position: relative;
    margin: 20px auto;
    border: 1px solid white;
    border-radius: 5px;
}

.squaredTwo4 label {
    width: 100%;
    height: 100%;
    cursor: pointer;
    position: absolute;
    left: 0px;
    top: 0px;
}
.squaredTwo4 label:after {
    content: '';
    width: 56%;
    height: 38%;
    position: absolute;
    top: 6px;
    left: 8px;
    border: 3px solid #fcfff4;
    border-top: none;
    border-right: none;
    background: transparent;
    opacity: 0;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);    
}

.bullet label:after {
    content: '';
    width: 39%;
    height: 39%;
    position: absolute;
    top: 10px;
    left: 11px;
    border: 3px solid #fcfff4;
    border-top: none;
    border-right: none;
    background: white;
    opacity: 0;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.squaredTwo4 label:hover::after {
  opacity: 0.3;
}
.squaredTwo4 input[type=checkbox] {
  visibility: hidden;
}
.squaredTwo4 input[type=checkbox]:checked + label:after {
  opacity: 1;
}


.squaredTwo2 {
    width: 70%;
    height: 18%;
    position: relative;
    margin: 20px auto;
    border: 1px solid white;
    border-radius: 5px;
}

.squaredTwo2 label {
    width: 100%;
    height: 100%;
    cursor: pointer;
    position: absolute;
    left: 0px;
    top: 0px;
}
.squaredTwo2 label:after {
   content: '';
    width: 39%;
    height: 39%;
    position: absolute;
    top: 10px;
    left: 11px;
    border: 3px solid #fcfff4;
    border-top: none;
    border-right: none;
    background: white;
    opacity: 0;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    border-radius: 50%; 
}

.squaredTwo2 label:hover::after {
  opacity: 0.3;
}
.squaredTwo2 input[type=checkbox] {
  visibility: hidden;
}
.squaredTwo2 input[type=checkbox]:checked + label:after {
  opacity: 1;
}

.squaredTwo3 {
    width: 70%;
    height: 18%;
    position: relative;
    margin: 20px auto;
    border: 1px solid white;
    border-radius: 5px;
}

.squaredTwo3 label {
    width: 100%;
    height: 100%;
    cursor: pointer;
    position: absolute;
    left: 0px;
    top: 0px;
}
.squaredTwo3 label:after {
    content: '';
    width: 39%;
    height: 39%;
    position: absolute;
    top: 10px;
    left: 11px;
    border: 3px solid #fcfff4;
    border-top: none;
    border-right: none;
    background: white;
    opacity: 0;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    border-radius: 50%;

}

.squaredTwo3 label:hover::after {
  opacity: 0.3;
}
.squaredTwo3 input[type=checkbox] {
  visibility: hidden;
}
.squaredTwo3 input[type=checkbox]:checked + label:after {
  opacity: 1;
}

.ball-check {
    border-radius:50% !important;
}

.float-left {
    position: relative;
    float: left;
    width: 50%;
    height: 5%;
    margin-left: -3%;
    margin-top: 10%;
}

.float-right {
    position: relative;
    float: right;
    width: 50%;
    height: 5%;
    margin-top: 10%;
}

.line-1 {
    display: inline-block;
    width: 100%;
    height: 50%;
}

.line-2 {
    display: inline-block;
    width: 100%;
    height: 50%;    
}

.overide {
    width: 15%;
    height: 42%;
    margin-left: 6%;
    font-size: 15px;
    padding-top: 5%;
}

.star {
    width: 18%;
    height: 49%;
}

.heart {
        width: 16%;
    height: 43%;
    padding-left: 5%;
    margin-left: -3%;
}

.home {
    height: 57%;
}

.check {
    height: 50%;
}

.bubble-talk {
    @include button;
    margin-top: 2%;
    background-color: #5ccaf4;
}

.cache {
     background-color: #5ccaf4;
    width: 18%;
    height: 6%;
    position: absolute;
    top: 97%;
    left: 41%;
}

.pic_ {
    width: 5% !important;
    height: 22% !important;
    /* border: 2px solid white !important; */
    -ms-transform: rotate(7deg) !important;
    -webkit-transform: rotate(7deg) !important;
    transform: rotate(50deg) !important;
    position: absolute;
    top: 78%;
    left: 44%;
    border-bottom: 3px solid white;
    border-right: 3px solid white;
    padding: 3%;
    background-color: #5ccaf4;
}

.bubble-talk-right {
    @extend .bubble-talk;
    float:right;
}

.cache-right {
    @extend .cache;
    top: -3%;
}

.pic_right {
    @extend .pic_;
    width: 6% !important;
    height: 22% !important;
    top: -26%;
    left: 43%;
    transform: rotate(227deg) !important;
}

.hello {
    @include font-title;
    font-size:15px;
    letter-spacing: 1px;
    margin-top: 9%;
}

.white-button {
    @include error;
}

.oops {
    margin-top: 8%;
    padding-left: 5%;
}

.x {
    position: relative;
    float: right;
    color: #00aced;
    margin-top: -7%;
    padding-right: 6%;
    font-size: 30px;
    font-weight: 400;
    color:map-get($colors, bg);
}

.contact {
    @include ul-li;
    width: 100%;
    height: 7%;
    background-color: map-get($colors, bg);
    margin-top:10%;
    overflow: hidden;
    border:2px solid white;
}

.mail {
    background-color:map-get($colors, bg);
    border-bottom: 2px solid white;
    -webkit-appearance: none;
    user-select: none;
    border-width: 1px;
    border-style: ridge;
    border-color: white;
    border-image: none;
    width: 99%;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    height: 49%;
}

.pass {
    @extend .mail;
    border-bottom:0px;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
      font-family:'Open Sans',sans-serif;
      font-size:18px;
      color:#80d6f6;
      padding:18px;
}

.draw{
    width: 100%;
    height: 10%;
    position: relative;
    float: left;
    margin-top: 26%;
}

.b_draw {
   @extend .bubble;
   margin-left: 0%;
   width: 27%;
   height: 46%;
   overflow: hidden;
   position: relative;
   margin-top: -11%;

   
}

.b_draw2 {
    @extend .b_draw;
    width: 22%;
    height: 36%;
    margin-left: 3%;
    margin-right: 3%;
}

.b_draw3 {
    @extend .b_draw;
    width: 19%;
    height: 29%;
}

.b_draw4 {
    @extend .b_draw;
    height: 21%;
    width: 15%;
    margin-left: 4%;
}

.arc {
    height: 100%;
    width: 100%;
    border-top: 1px solid white;
    margin-top: 61%;
    border-radius: 46%;
}

.bub {
    @extend .bubble;
    margin-left: 0%;
    top: 13%;
    position: absolute;
    margin-left: -19%;
    border-radius:50%;
    width: 37%;
    height: 33%;
}

.upload {
    width: 100%;
    height: 15%;
    border: 1px dashed white;
    position: relative;
    float:left;
    margin-top: -30%;
}

.bar {
    width: 31%;
    height: 2%;
    border-top: 5px solid white;
    margin-top: 50%;
    margin-left: 35%;
}

.arrow {
    width: 2%;
    height: 17%;
    border-left: 6px solid white;
    margin-left: 50%;
    margin-top: 26%;
    position: absolute;
}

.arrow2 {
    width: 2%;
    height: 9%;
    border-left: 5px solid white;
    -ms-transform: rotate(40deg);
    -webkit-transform: rotate(40deg);
     transform: rotate(40deg);
    margin-left: 52%;
    margin-top: 37%;
    position: absolute;
}

.arrow3 {
    @extend .arrow2;
    -ms-transform: rotate(-40deg);
    -webkit-transform: rotate(-40deg);
    transform: rotate(-40deg);
    margin-left: 47%;
    margin-top: 36%;
}

.drop_font {
    @include font_title;
    font-size: 27px;
    text-align: center;
}

